In [5]:
import pandas as pd
import glob, os    
import matplotlib.pyplot as plt
import numpy as np

# School District Data

Read District level data and write 3 formats:
1. Sample.csv containing a smaller csv file with a few rows
2. write complete .csv file
3. write complete .parquet file

4. Upload to Remote storage and update github Repos

In [6]:
# School Enrollment

In [7]:
# Load the District Enrollment files 

all_files = glob.glob(os.path.join( "/Users/ajp/Downloads/urban/school_districts/schools_ccd_lea_enrollment_*.csv")) 
ta
df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.head()

   year   leaid  fips  grade  race  sex  enrollment
0  1999  100002     1      3     1    1         0.0
1  1999  100002     1      3     1    2         0.0
2  1999  100002     1      3     1   99         0.0
3  1999  100002     1      3     2    1         0.0
4  1999  100002     1      3     2    2         0.0

In [8]:
# Lets gather some information from the data set.
## How many rows? 
r, c = concatenated_df.shape
print("Number of rows: {}".format(r)) 
# How many columns?
print("Number of columns: {}".format(c)) 
# what are the different columns?
print(concatenated_df.columns.unique)
# Are there any Null Values?
print(concatenated_df.isnull().values.any())
# Any possible isues with the dataSet?
# How can we communicate this data set to non-technical people?
# What type of information can we gather from it?
# Possible machine learning models availabe just based on this data set?

Number of rows: 102513455
Number of columns: 7
<bound method Index.unique of Index(['year', 'leaid', 'fips', 'grade', 'race', 'sex', 'enrollment'], dtype='object')>
True

In [9]:
# Save a Sample data set to 'data_lake/district/sample_csv/schools_ccd_lea_enrollment_sample.csv'


schools_ccd_lea_enrollment_sample_sample_df = concatenated_df.sample(n=100000, random_state=1)

schools_ccd_lea_enrollment_sample_sample_df.to_csv('data_lake/district/sample_csv/schools_ccd_lea_enrollment_sample.csv', header=True, index=False) # 26 MB

Provides

In [10]:
# Writing file as Parquet. 
concatenated_df.to_parquet('data_lake/district/complete_parquet/schools_ccd_lea_enrollment.parquet.gzip',compression='gzip')

In [11]:
# Writing file as CSV. 
# If its bigger than 100mb we will have to upload to google drive. 
concatenated_df.to_csv('data_lake/district/complete_csv/schools_ccd_lea_enrollment.csv')

# School District Education Assesments

In [12]:
# Read CSV's
# we are using * to read all the years for CCD_LEA_enrollment_* at a School District level
#path = "school_districts/"
all_files = glob.glob(os.path.join("", "/Users/ajp/Downloads/urban/school_districts/districts_edfacts_assessments_*.csv")) # 1GB 
df_from_each_file = (pd.read_csv(f) for f in all_files)
districts_edfacts_assessments_df   = pd.concat(df_from_each_file, ignore_index=True)
districts_edfacts_assessments_df.head()

,leaid,leaid_num,year,lea_name,fips,grade_edfacts,race,sex,lep,homeless,...,foster_care,military_connected,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt
0,100005,100005,2016,Albertville City,1,99,99,99,99,99,...,99,99,2797.0,28.0,28.0,28.0,2837.0,35.0,35.0,35.0
1,100005,100005,2016,Albertville City,1,99,5,99,99,99,...,99,99,3.0,-3.0,-3.0,-3.0,3.0,-3.0,-3.0,-3.0
2,100005,100005,2016,Albertville City,1,99,4,99,99,99,...,99,99,16.0,40.0,59.0,49.5,17.0,40.0,59.0,49.5
3,100005,100005,2016,Albertville City,1,99,2,99,99,99,...,99,99,91.0,10.0,14.0,12.0,92.0,15.0,19.0,17.0
4,100005,100005,2016,Albertville City,1,99,99,99,99,99,...,99,99,177.0,10.0,14.0,12.0,178.0,20.0,24.0,22.0

In [13]:
# Lets gather some information from the data set.
## How many rows? 
r, c = districts_edfacts_assessments_df.shape
print("Number of rows: {}".format(r)) 
# How many columns?
print("Number of columns: {}".format(c)) 
# what are the different columns?
print(districts_edfacts_assessments_df.columns.unique)
# Are there any Null Values?
print(districts_edfacts_assessments_df.isnull().values.any())
# Any possible isues with the dataSet?
# How can we communicate this data set to non-technical people?
# What type of information can we gather from it?
# Possible machine learning models availabe just based on this data set?

Number of rows: 10852081
Number of columns: 23
<bound method Index.unique of Index(['leaid', 'leaid_num', 'year', 'lea_name', 'fips', 'grade_edfacts',
       'race', 'sex', 'lep', 'homeless', 'migrant', 'disability',
       'econ_disadvantaged', 'foster_care', 'military_connected',
       'read_test_num_valid', 'read_test_pct_prof_low',
       'read_test_pct_prof_high', 'read_test_pct_prof_midpt',
       'math_test_num_valid', 'math_test_pct_prof_low',
       'math_test_pct_prof_high', 'math_test_pct_prof_midpt'],
      dtype='object')>
True

In [55]:
# Lets save a Sample data set
districts_edfacts_assessments_sample_sample_df = districts_edfacts_assessments_df.sample(n=100000, random_state=1)

districts_edfacts_assessments_sample_sample_df.to_csv('data_lake/district/sample_csv/districts_edfacts_assessments_sample_sample.csv', header=True, index=False)

In [68]:
# Writing file as Parquet. 
districts_edfacts_assessments_df.to_parquet('data_lake/district/complete_parquet/districts_edfacts_assessments.parquet.gzip',compression='gzip')

In [58]:
# Writing edfacts as csv
districts_edfacts_assessments_df.to_csv('data_lake/district/complete_csv/districts_edfacts_assessments.csv')

# School District Financial

In [59]:
# School District Financial 
finance_df = pd.read_csv("/Users/ajp/Downloads/urban/school_districts/districts_ccd_finance.csv")
finance_df.head()

,year,leaid,fips,censusid,rev_total,rev_fed_total,rev_fed_child_nutrition_act,rev_fed_state_title_i,rev_fed_state_idea,rev_fed_state_math_sci_teach,...,debt_longterm_issued_FY,debt_longterm_retired_FY,debt_longterm_outstand_end_FY,debt_shortterm_outstand_beg_FY,debt_shortterm_outstand_end_FY,assets_sinking_fund,assets_bond_fund,assets_other,enrollment_fall_responsible,enrollment_fall_school
0,1991,100005,1.0,15048401.0,11265000.0,1012000.0,285000,413000,140000,10000,...,0.0,0,0.0,0,0.0,0,0.0,732000.0,3084.0,NaN
1,1991,100006,1.0,15048001.0,22855000.0,2009000.0,854000,671000,249000,18000,...,0.0,2000,12385000.0,0,0.0,370000,1679000.0,511000.0,6139.0,NaN
2,1991,100007,1.0,15037401.0,36812000.0,651000.0,179000,99000,286000,6000,...,44159000.0,260000,53960000.0,0,0.0,0,30420000.0,3816000.0,6328.0,NaN
3,1991,100030,1.0,15062002.0,14397000.0,1014000.0,279000,447000,136000,12000,...,5353000.0,192000,6449000.0,0,0.0,0,2005000.0,2619000.0,3783.0,NaN
4,1991,100060,1.0,15020001.0,7768000.0,948000.0,247000,295000,295000,8000,...,0.0,0,0.0,0,0.0,0,0.0,144000.0,2154.0,NaN

In [60]:
# Lets gather some information from the data set.
## How many rows? 
r, c = finance_df.shape
print("Number of rows: {}".format(r)) 
# How many columns?
print("Number of columns: {}".format(c)) 
# what are the different columns?
print(finance_df.columns.unique)
# Are there any Null Values?
print(finance_df.isnull().values.any())
# Any possible isues with the dataSet?
# How can we communicate this data set to non-technical people?
# What type of information can we gather from it?
# Possible machine learning models availabe just based on this data set?

Number of rows: 102513455
Number of columns: 7
<bound method Index.unique of Index(['year', 'leaid', 'fips', 'censusid', 'rev_total', 'rev_fed_total',
       'rev_fed_child_nutrition_act', 'rev_fed_state_title_i',
       'rev_fed_state_idea', 'rev_fed_state_math_sci_teach',
       ...
       'debt_longterm_issued_FY', 'debt_longterm_retired_FY',
       'debt_longterm_outstand_end_FY', 'debt_shortterm_outstand_beg_FY',
       'debt_shortterm_outstand_end_FY', 'assets_sinking_fund',
       'assets_bond_fund', 'assets_other', 'enrollment_fall_responsible',
       'enrollment_fall_school'],
      dtype='object', length=133)>
True

In [61]:
# Save samples
finance_sample_sample_df = finance_df.sample(n=100000, random_state=1)
finance_sample_sample_df.to_csv('data_lake/district/sample_csv/finance_sample_sample_df.csv', header=True, index=False)

In [69]:
# Save Full Parquet
# Writing file as Parquet.   
finance_type_convert_df = finance_df.astype(str)     
finance_type_convert_df.to_parquet('data_lake/district/complete_parquet/finance_df.parquet.gzip',compression='gzip')

In [66]:
# Writing file as CSV. 
# If its bigger than 100mb we will have to upload to google drive. 
finance_df.to_csv('data_lake/district/complete_csv/finance_df.csv')