# School District Enrollment Data

In [2]:
import pandas as pd
import glob, os    
import matplotlib.pyplot as plt
import numpy as np

In [15]:
# School District Directory 1986-2018
# https://educationdata.urban.org/csv/ccd/school-districts_lea_directory.csv
# We are reading the school-districts_lea_directory.csv
"""
School district (local education agency identification)-level geographic and mailing information, agency type, highest and lowest grades offered, special education students and English language learners, and full-time equivalent teachers and other staff.
"""


concatenated_df = pd.read_csv("school_districts/school-districts_lea_directory.csv")

concatenated_df.dtypes

year                               int64
leaid                              int64
lea_name                          object
state_leaid                       object
street_mailing                    object
                                  ...
cmsa                             float64
bureau_indian_education          float64
agency_charter_indicator         float64
migrant_students                 float64
guidance_counselors_other_fte    float64
Length: 67, dtype: object

In [27]:
#state_leaid

concatenated_df['state_leaid'] = concatenated_df['state_leaid'].astype('str') 
concatenated_df['zip4_mailing'] = concatenated_df['zip4_mailing'].astype('str') 
concatenated_df['zip4_location'] = concatenated_df['zip4_location'].astype('str') 
concatenated_df['phone'] = concatenated_df['phone'].astype('str') 
concatenated_df['supervisory_union_number'] = concatenated_df['supervisory_union_number'].astype('str') 
concatenated_df['state_leg_district_upper'] = concatenated_df['state_leg_district_upper'].astype('str') 
#state_leg_district_upper
concatenated_df

,year,leaid,lea_name,state_leaid,street_mailing,city_mailing,state_mailing,zip_mailing,zip4_mailing,street_location,...,school_counselors_fte,teachers_ungraded_fte,spec_ed_students,english_language_learners,enrollment,cmsa,bureau_indian_education,agency_charter_indicator,migrant_students,guidance_counselors_other_fte
0,2018,100002,Alabama Youth Services,AL-210,PO Box 66,Mount Meigs,AL,36057.0,66.0,1000 Industrial School Road,...,0.0,0.00,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,100005,Albertville City,AL-101,107 W Main St,Albertville,AL,35950.0,1625.0,107 West Main Street,...,0.0,0.00,443.0,927.0,5636.0,NaN,NaN,NaN,NaN,NaN
2,2018,100006,Marshall County,AL-048,12380 US Highway 431 S,Guntersville,AL,35976.0,9351.0,12380 US Highway 431 S,...,0.0,0.00,845.0,446.0,5652.0,NaN,NaN,NaN,NaN,NaN
3,2018,100007,Hoover City,AL-158,2810 Metropolitan Way,Birmingham,AL,35243.0,2944.0,2810 Metropolitan Way,...,0.0,0.00,1316.0,813.0,13952.0,NaN,NaN,NaN,NaN,NaN
4,2018,100008,Madison City,AL-169,211 Celtic Dr,Madison,AL,35758.0,1853.0,211 Celtic Drive,...,0.0,0.00,1277.0,436.0,11290.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583146,2015,6300026,Japan District,HE6001,Unit 5072,APO,AP,96328.0,5072.0,-1,...,NaN,-1.00,-1.0,-1.0,8157.0,NaN,0.0,3.0,NaN,-1.0
583147,2015,6600002,Guam Deparment of Education,66,500 Mariner Avenue,Barrigada,GU,96913.0,nan,-1,...,NaN,0.00,-1.0,14549.0,30821.0,NaN,0.0,3.0,NaN,0.0
583148,2015,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,01,PO BOX 190759,SAN JUAN,PR,919.0,759.0,CALLE FEDERICO COSTAS NUM. 150,...,NaN,5665.68,123376.0,1552.0,379818.0,NaN,0.0,3.0,NaN,659.0
583149,2015,7800002,Saint Croix School District,002,2133 Hospital Street,Saint Croix,VI,820.0,4665.0,2133 Hospital Street,...,NaN,10.00,637.0,277.0,6559.0,NaN,0.0,3.0,NaN,1.0
583150,2015,7800030,Saint Thomas - Saint John School District,001,386 Annas Retreat,Saint Thomas,VI,802.0,nan,386 Annas Retreat,...,NaN,11.00,570.0,799.0,7246.0,NaN,0.0,3.0,NaN,0.0

In [28]:
# Writing file as Parquet. 
# Parquet files are stored in column format and are smaller in size opposed to a .csv
concatenated_df.to_parquet('school_districts_lea_directory_1986_2018_df_pyarrow.parquet.gzip',
                    engine='fastparquet',
                   compression='gzip')